@charset "UTF-8";

body{
background-color: rgb(111, 174, 255);
font: normal 15pt Arial;
width: 100vw;
}


header{
    color: white;
    text-align: center;
}

section {
background-color: white;
padding: 15px;
border-radius: 10px;
margin: auto;
width: 300px;
box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.418);
}

div > p {
    text-align: center;
}

footer {
    color: white;
    text-align: center;
    font-style: italic;
}
footer  a {
    text-decoration: none;
    color:white;
    font-weight: bold;
}
footer a:hover {
    text-decoration: underline;
}